# Teammates: Copy this file to '.env' and update it with your paths.
# DO NOT COMMIT YOUR ACTUAL '.env' FILE TO GIT.

# Example for User 'shhuang':
PROJECT_ROOT=/home/shhuang/dynamic-hand-gesture-recognition
RAW_DATA_DIR=/home/shhuang/jester_uncompressed/jester_subsample
SHAN_PROJECT_DIR=/home/shhuang/shan_project